.wsp-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.wsp-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.wsp-slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #bbb;
  transition: .3s;
  border-radius: 34px;
}

.wsp-slider:before {
  position: absolute;
  content: "";
  height: 20px; width: 20px;
  left: 3px; bottom: 3px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .wsp-slider {
  background-color: #46b450;
}

input:checked + .wsp-slider:before {
  transform: translateX(24px);
}
